header {
    overflow-x: hidden;
}

.hero_BG_IMG {
    background-image: url('../../public/assets/About_US_Hero.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    // padding: 100px;
    position: absolute;
    // opacity: 40%;
    z-index: -10;
}

.heroContent {
    // opacity: 100% !imp   ortant;
    width: 100vw;
    z-index: 1 !important;
    background-color: #0e0e22ab;
}


.about_hero_bg {
    background-image: url('../../public/assets/About_US_Hero.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    // padding: 100px;
    position: absolute;
    // opacity: 40%;
    z-index: -10;
}

.about_Hero_Content {
    // opacity: 80% !important;
    // width: 100vw;
    z-index: 1 !important;
    background: #219dbcbe;
}

.contact_Hero_bg {
    background-image: url('../../public/assets/Contact_US_Hero.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    // padding: 100px;
    position: absolute;
    // opacity: 40%;
    z-index: -10;
}