header {
    overflow-x: hidden;
}

@mixin imgClassName($imgUrl, $position) {
    background-image: url($imgUrl);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: $position;
    z-index: -10;
}

.hero_BG_IMG {
    @include imgClassName('../../public/assets/hero-section-bg.jpg', absolute);   
}

.psychological-services{
    @include imgClassName('../../public/assets/subServices/psychological-services.png', absolute);
}
.psychiatric-services{
    @include imgClassName('../../public/assets/subServices/psychiatric-services.jpg', absolute);
}
.speech-language-therapy{
    @include imgClassName('../../public/assets/subServices/speech-tharapy.jpg', absolute);
}
.career-counseling{
    @include imgClassName('../../public/assets/subServices/career-counseling.jpg', absolute);
}
.rehab-services{
    @include imgClassName('../../public/assets/subServices/treatment.jpg', absolute);
}
.marital-counseling{
    @include imgClassName('../../public/assets/subServices/marital.jpg', absolute);
}
.treatment-psychiatric-illnesses{
    @include imgClassName('../../public/assets/subServices/addiction.jpg', absolute);
}

.heroContent {
    width: 100vw;
    z-index: 1 !important;
    background-color: #0e0e22ab;
}

.about_hero_bg {
    @include imgClassName('../../public/assets/header-img.jpg', absolute);
}

.header-img-contact{
    @include imgClassName('../../public/assets/header-img-contact.jpg', absolute);
}
.for_contact{
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1 !important;
}

.about_Hero_Content {
    z-index: 1 !important;
}

.contact_Hero_bg {
    @include imgClassName('../../public/assets/Contact_US_Hero.webp', absolute);
}

.footer-bg{
    @include imgClassName('../../public/assets/footer-bg.jpg', static);
}

.footer-wrapper{
    background-color: rgba(8, 145, 178, .5);
    z-index: 2 !important;
    width: 100vw;
    height: fit-content;
}

.team_bg{
    @include imgClassName('../../public/assets/Team-imgs/team-bg.jpg', absolute);
}

